<div class="spoergsmaal feedCard">
  <div class="cardCategory">Ministerspørgsmål</div>
  <div class="cardGrid">
    <div class="gridItem cardSubject">
      <div class="subjectWrapper">
        <div class="subjectIcon">
          <!-- TODO: Add icon -->
        </div>
        <div class="subjectText">
          <!-- TODO: Add subject handling -->
          Krisehåndtering
        </div>
      </div>
    </div>
    <div class="gridItem cardContent">
      <!-- TODO: Add references to parti and minister title -->
      <div class="label"><%= question.questioner.full_name %>, Partiet</div>
      <div class="text"><%= question.title %></div>
      <div class="label"><%= question.recipient.full_name %>, Minister for Sandhed</div>
      <!-- TODO: Add answer -->
      <div class="text">Ved at øge krisens omfang kan vi udligne effekten og dermed opnå balance</div>
    </div>
  </div>
</div>